.about {
  color: rgb(62, 62, 62);  
  height: 100%;
}

.title {
  font-size: 50px;
  font-weight: 700;
  padding-top: 20px;
  margin-bottom: 20px;
}

.about-text {
  display: flex;
  flex-direction: column;
  height: 60vh;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.explain {
  font-size: 18px;
  text-align: center;
  margin: 0px 20px;
}

.me {
  font-size: 40px;
  font-weight: 700;
}

.explain-2 {
  font-size: 14px;
  text-align: center;
  margin: 10px 10px;
}

.dev-pic {
  border-radius: 20%;
  object-fit: cover;
  margin-top: 20px;
  height: 200px;
  overflow: hidden;
  object-position: 50% 50%;
}

.explain-3 {
  margin-top: 20px;
  margin-bottom: 10px;
}